.venv/
**/__pycache__/
backend/logs/
backend/cavtest.db
backend/audio/
backend/mic_audio/
backend/photo/
backend/video/
backend/excel/
backend/app/config/device_config.yaml
*.log
frontend/node_modules
frontend/dist
frontend/_logs
frontend/out
frontend/build
.DS_Store
*.pcm
.env